@model IEnumerable<WebApplication3.Models.Track>

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow:hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/StyleN1.css" rel="stylesheet" />
    <link href="~/css/TracksStyle.css" rel="stylesheet" />
    <link href="~/css/ForJSElements.css" rel="stylesheet" />
    <link href="~/css/ButtomStyle.css" rel="stylesheet" />
</head>
<body style="
    border: 5px black;
">
    <div class="winBlock">
        <div class="butOk">
            OK
        </div>
    </div>
    <header>Head</header>
    <div class="workPlace">



        <div class="tracksWorkPanel">
            <div class="panel1">
            </div>
            <div class="panel2">
            </div>




        </div>




        <div class="centerPlace">
            <div class="leftTrackList">
                <div class="trackMenu" id="FTM">
                    первичный
                </div>

            </div>
            <div class="rightTrackList">
                <div class="trackBody" id="FTB">
                    первичный
                </div>
            </div>



        </div>





        <div class="trackChoicer transform">

            <div class="trackList">



                @foreach (var item in Model)
                {

                    <div class="trackPack">
                        <div class="playStopButtonPack">
                            <div class="playStopButton">

                            </div>
                        </div>

                        <div class="trackTextPack">
                            <div class="trackName">
                                @Html.DisplayFor(modelItem => item.Name)
                                @if (item.HasFile())
                                {
                                    <audio class="auTrack" src="@Url.Action("GetFile", new { id=item.FileId})" style="width:100px;height:40px;" />
                                }
                            </div>

                        </div>


                    </div>




                }



                <div class="trackPack">
                    <div class="playStopButtonPack">
                        <div class="playStopButton">

                        </div>
                    </div>

                    <div class="trackTextPack">
                        <div class="trackName">
                            VioletPants
                        </div>

                    </div>

                </div>
                <div class="trackPack">

                </div>

                <div class="trackPack">
                    <svg width="34" height="39" viewBox="0 0 34 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="34" height="39" fill="white" />
                        <circle cx="17" cy="22" r="16.5" fill="url(#paint0_linear)" stroke="#FA00FF" />
                        <path d="M17 14L13.5359 0.499999H20.4641L17 14Z" fill="#36F317" />
                        <path d="M20.1419 0.749999L17 12.9942L13.8581 0.749999H20.1419Z" stroke="black" stroke-opacity="0.5" stroke-width="0.5" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="17" y1="5" x2="17" y2="39" gradientUnits="userSpaceOnUse">
                                <stop stop-color="white" />
                                <stop offset="1" stop-color="white" stop-opacity="0" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>

                <div class="trackPack">

                </div>

            </div>
            <div class="buttonList">

            </div>

        </div>

    </div>
    <div class="cntrlBottom">
        <div class="spacePool"></div>

        <div class="chanel">
            add Chanel N5
        </div>
        <div class="spacePool"></div>
        <div class="timePool">Time</div>
        <div class="spacePool"></div>
        <div class="FourBut">

            <div class="BottomButton"></div>
            <div class="BottomButton"></div>
            <div class="BottomButton">S</div>
            <div class="BottomButton">P</div>
        </div>
        <div class="spacePool"></div>
        <div class="rec">
            rec
        </div>
        <div class="spacePool"></div>
        <div class="met">
            <div class="metWind">
                <input type="text" value="120" class="inputMetr" />
                <div class="okBut">
                    OK

                </div>
            </div>
            metr
        </div>
        <div class="spacePool"></div>
        <div class="bpm">
            bpm
        </div>
        <div class="spacePool"></div>
        <div class="mic">
            mic
        </div>
        <div class="kboard">
            kboard
        </div>
        <div class="spacePool"></div>


    </div>


    <script type="module" src="~/js/classes.js"></script>
    <script type="module" src="~/js/trackListDrugs.js"></script>


</body>
</html>
