@model WebApplication3.Models.Product

@{
    ViewData["Title"] = "Прикрепить изображение";
}
<h2>@ViewData["Title"]</h2>

<form method="post" enctype="multipart/form-data">
    <div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>@Model.Name</div>
        </div>

        <div class="form-group">
            <label>Загрузить трек</label>
            <input type="file" name="uploadedTrack" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

@if (Model.HasTrack())
{
    <audio controls="controls"  src="@Url.Action("GetTrack", new { id=@Model.TrackId})" style="width:150px;height:200px;" />
}

@if (!Model.HasTrack())
{ <div>хуй
    </div>
}
<script>


    console.log("@Url.Action("GetTrack", new { id=@Model.TrackId})");
</script>