
.BottomButton {
    width: 40px;
    height: 40px;
    border: 0.5px solid black;
    background: rgb(188, 2, 190);
    border-radius: 50%;
    text-align: center;
    margin: 2px;
}
.BottomButton:hover {
    
    background: rgba(164, 18, 161, 0.81);
  
}
.FourBut{
    display:flex;
}
.metWind{
    width: 60px;
    height: 90px;
    position: fixed;
    left: 1px;
    top: 1px;
    background: burlywood;
    display: none;
    margin: auto;
}

.okBut {
    width:20px;
    background:rgb(182, 13, 120);
}
.okBut:hover {
/*ебать ты лох*/
   background: rgba(182, 2, 133,0.8);
}
.inputMetr {
    width: 20px;
    border-radius: 4px;
    border: 0.5px solid black;
}