.trackMenu {
    height: 60px;
    background:rgba(191, 135, 67, 0.50)
}

.trackBody {
    height: 60px;
    background: gray;
}

.draggEx {
    position: absolute;
    height: 58px;
    min-width: 30px;
    background: red;
    border-radius: 10px;
    z-index: 1;
    pointer-events: none;
}

#FTB{

   /* display:none;*/
    
}

#FTM {
   /* display: none;*/
}